* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}

.navigation {
    /* background-size: cover;
    background-repeat: no-repeat; */
    display: flex;
    position: fixed;
    background-color: rgb(226, 217, 217);
    width: 100%;
    z-index: 1;
}

.logo {
    padding: 10px 80px;
    opacity: 0.92;
}

.navbar {
    gap: 40px;
    right: 100px;
    top: 25px;
    word-spacing: 1.9em;
    position: fixed;
}

.navbar a {
    text-decoration: none;
    color: white;
    opacity: 0.8;
    font-size: 14px;
    font-family: sans-serif;
}

.navbar a:hover {
    text-decoration: underline;
}

.fa-bag-shopping {
    color: white;
}

#section1 {
    height: 700px;
    background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/tixlyvnpr7/nynne-schroder-unsplash-A0xnbgZ4WxTJlN3R.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.shop-summary {
    position: absolute;
    margin-left: 45px;
    top: 250px;
    left: 120px;
}


span {
    font-family: 'Prata', serif;
    font-size: 60px;
    opacity: 0.95;
}

p {
    font-family: 'Montserrat';
    opacity: 0.99;
    padding-top: 25px;
    font-size: 20px;
}

.shop-summary p {
    width: 460px;
}

button {
    background-color: black;
    color: gray;
    width: 250px;
    margin-top: 50px;
    opacity: 0.90;
    padding: 15px;

}

button:hover {
    background-color: #565656;
}



.explore {
    text-align: justify;
    margin-left: 450px;
    margin-top: 80px;
}

.explore p {
    width: 600px;
    text-align: center;
}

.photo-items {
    position: relative;
    margin-top: 40px;
    left: 40px;
    display: flex;
}

.btns {
    position: relative;
    bottom: 75px;
    left: 75px;
}


#section3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    margin-bottom: 150px;
}

.discoverspan {
    font-family: 'Montserrat';
    font-size: 20px;
    margin-bottom: 25px;
}

.discover p {
    width: 480px;
    text-align: justify;

}

.discover span {
    display: block;
    width: 500px;
}

.discover-image img {
    height: 70%;
    width: 100%;
    margin-left: 100px;
}

#section4 {
    justify-content: space-evenly;
    margin-top: -200px;
}

.gallery-about {
    text-align: center;
}

.gallery-photo-items {
    position: relative;
    margin-top: 60px;
    left: 40px;
    display: flex;
}

.items {
    margin-left: 25px;
}

.btndiscover {
    margin: 40px 600px 130px;
}

.footer {
    background-color: #565656;
    width: auto;
    height: 400px;
}

.footer-display {
    padding: 70px 120px;
    display: flex;
    gap: 130px;

}

.footer-display h2 {
    font-size: 30px;
    color: white;
    opacity: 0.9;
}

.footer-display p {
    color: white;
    font-size: 20px;
}

#subscribe {
    width: 800px;
}

.icons {
    display: flex;
    padding: 15px 110px;
    font-size: 30px;
    gap: 15px;

}

.subscribeinput{
    opacity: 0.8;
    width: 75%;
    margin-top: 20px;
    padding: 15px 50px;
}
